@use "../global";

#footer {
  padding-bottom: 0.8rem;
  background-color: global.$color-black;
  color: global.$color-white;
  text-align: center;

  & .copyright {
    @include global.respond(phone) {
    }
  }
}
